body {
    height: 100vh;
    padding:0;
    margin:0;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main";
    grid-template-columns: 35vh auto;
    grid-template-rows: 12vh 90vh;
}

header {
    grid-area: header;
    background-color: #212529;
    color: white;
    border: 1px solid #ffc107;
}


main {
    grid-area: main;
    margin-top: 5%;
}

.err-page {
    text-align: center;
}

/*footer{*/
/*    grid-area: footer;*/
/*    color: white;*/
/*    background-color: #212529;*/
/*}*/